<div class="fluid-container mainPageBanner">
      <!--Slider part-->
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/home_page_slider/one.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/home_page_slider/two.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/home_page_slider/three.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/home_page_slider/four.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/home_page_slider/five.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="pageBottomContainer">
      <!--Product Cards-->
      <div class="container my-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <!-- Card 1 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/bedding.png" class="card-img-top" alt="Product 1">
              <div class="card-body">
                <h5 class="card-title">Bedding</h5>
                <p class="card-text">This is a quick description of Product 1.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/cleaning-tools.png" class="card-img-top" alt="Product 2">
              <div class="card-body">
                <h5 class="card-title">Cleaning Tools</h5>
                <p class="card-text">This is a quick description of Product 2.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/dining.png" class="card-img-top" alt="Product 3">
              <div class="card-body">
                <h5 class="card-title">Dining</h5>
                <p class="card-text">This is a quick description of Product 3.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/bedding.png" class="card-img-top" alt="Product 4">
              <div class="card-body">
                <h5 class="card-title">bedding</h5>
                <p class="card-text">This is a quick description of Product 4.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/hat.png" class="card-img-top" alt="Product 5">
              <div class="card-body">
                <h5 class="card-title">Hat</h5>
                <p class="card-text">This is a quick description of Product 5.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 6 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/shoes.png" class="card-img-top" alt="Product 6">
              <div class="card-body">
                <h5 class="card-title">Shoes</h5>
                <p class="card-text">This is a quick description of Product 6.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 7 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/mug.png" class="card-img-top" alt="Product 7">
              <div class="card-body">
                <h5 class="card-title">Mugs</h5>
                <p class="card-text">This is a quick description of Product 7.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
          <!-- Card 8 -->
          <div class="col">
            <div class="card h-100 custom-card-size">
              <img src="images/card_images/chair.png" class="card-img-top" alt="Product 8">
              <div class="card-body">
                <h5 class="card-title">Product 8</h5>
                <p class="card-text">This is a quick description of Product 8.</p>
                <a href="#" class="btn btn-primary">View Product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>